body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    scrollbar-width: 0;
}

.d-none {
    display: none;
}

.noScroll {
    overflow-y: hidden;
}

.noScroll {
    overflow-y: hidden;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: relative;
    margin: 0;
    border: 0;
    background-image: url('assets/img/7C67C403-A063-4F1F-99E2-A62448906EFC_1_105_c.jpeg');
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 100px;
    /* Ensure no overflow from the SVG */
}

header img {
    position: absolute;
    bottom: -50px;
    left: 0;
    height: 125px;
    width: 225px;
    transform: scalex(-1);
    object-fit: fill;
    z-index: 1;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.menues {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: white;
    margin-right: 8%;
    z-index: 10;
}


.menu1 {
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 8px 3px 8px 13px;
    color: white;
    position: relative;

}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.menu1::after,
.menu1::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    z-index: -1;

}

.menu1:hover::after,
.menu1:hover::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
   background-image: conic-gradient(from var(--angle),transparent 30%,white, cyan  );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3px;
    border-radius: 8px 3px 8px 13px;
    animation: 3s spin linear infinite;
    z-index: -1;
}

.menu1:hover::before {
    filter: blur(20px);
    opacity: 0.8;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
    

.aboutMe {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 54px;
    gap: 25px;
    background-color: #ffffff;
    /* Ensure the wave blends into the section */
}

.AboutMeImg {
    flex: 1;
    max-width: 720px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    aspect-ratio: 0.8/1;
    border-radius: 24px;
}

.AboutMeRenderedImg {
    position: relative;
    /* Set relative positioning for .AboutMeRenderedImg */
    width: 100%;
    /* Ensure it takes the full width of its container */
    height: auto;
    /* Maintain the aspect ratio of the image */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutMeRenderedImg img {
    width: 100%;
    /* Make the image fill the container */
    height: auto;
    /* Maintain the aspect ratio */
    object-fit: cover;
    /* Crop the image if necessary to fit the container */
}

.buttonsandImgDiv {
    display: flex;
}

.buttons {
    position: absolute;
    /* Position the buttons relative to .AboutMeRenderedImg */
    top: 0;
    /* Align to the top of .AboutMeRenderedImg */
    left: 0;
    /* Align to the left of .AboutMeRenderedImg */
    width: 100%;
    /* Match the width of .AboutMeRenderedImg */
    height: 100%;
    /* Match the height of .AboutMeRenderedImg */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.buttons button {
    width: 48px;
    /* Set a fixed width for the buttons */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttons button img {
    width: 100%;
    /* Make the image fill the button */
    filter: sepia(100%) saturate(200%) hue-rotate(190deg) brightness(90%);
    /* Apply a light blue tint */
    opacity: 0.35;
    /* Slight transparency */
    transition: filter 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    /* Smooth transition for hover effects */
}

.aboutMe button img:hover {
    filter: sepia(100%) saturate(200%) hue-rotate(190deg) brightness(130%);
    /* Make the image brighter on hover */
    opacity: 0.75;
    /* Slight transparency */

}

.AboutMeText {
    flex: 1;
    font-size: 18px;
    line-height: 2;
}

.sectionGallery {
    padding: 20px;
    background-color: #f9f9f9;
    /* Optional: Add a background color for contrast */
    box-sizing: border-box;
}

.gallery {
    width: 100%;
    row-gap: 15px;
    overflow: hidden;
    transition: max-height 0.25s ease-in;

}

.height0 {
    height: 0;
}

.heightMax {
    height: auto;
    overflow: hidden;
    transition: max-height 0.25s ease-in;

}

.height0 {
    height: 0;
}

.heightMax {
    height: auto;
}

.gallery img {
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    /* Optional: Add a subtle shadow */
    transition: transform 0.3s ease;
    /* Optional: Add a hover effect */
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    /* Slight zoom effect on hover */
}

.greyOut {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.821);
}

.innerGrayOut {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerGrayOut img {
    object-fit: cover;
    max-width: 80%;
    max-height: 80%;
    border-radius: 16px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 16px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.sectionServices {
    margin: 64px;
    background-color: #f9f9f9;
    padding: 24px 54px 24px 54px;
    border-radius: 10px;

}

.services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    gap: 24px;
}

.service2 {
    display: flex;
    flex-direction: row-reverse;
}

.services img {
    width: 360px;
    height: auto;
    object-fit: cover;
    border-radius: 24px;
}

.allServices {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pacets {
    width: 720px;
}

/*"\2796";Unicode character for "minus" sign (-) */