@media (max-width: 1001px) {

    .AboutMeText {
        flex: 1;
        font-size: 18px;
        line-height: 2;
        height: 700px;
        flex: 2;
    }

}

@media (max-width: 850px) {

    .AboutMeText {
        flex: 1;
        font-size: 17px;
        line-height: 1,6;
    }
    .aboutMe {
        flex-direction: column;
    }
    .services img {
        width: 160px;
    }
    .sectionServices {
        padding: 10px;
        margin: 24px;
    }
    .gallery img {
        height: 100px;
        border-radius: 15px;
        padding: 10px;
        /* Optional: Add a subtle shadow */
        transition: transform 0.3s ease;
        /* Optional: Add a hover effect */
    }
}
